@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&family=Roboto:ital,wght@0,400;1,700&display=swap");

:root {
  --primary-light: #618070;
  --primary-ash: #7b7b7b;
  --secondary-light: #cce5cc;
  --secondary-dark: #2b943a;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*html {
  font-size: 62.5%;
}*/
body {
  color: #fff;
  font-family: "Roboto", sans-serif;
  /*overflow-x: hidden;*/
}
.container {
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 2rem;
  column-gap: 40px;
}
.zindex {
  z-index: 20;
}
